@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* Custom variables  */
:root{
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;;

  --text-color-primary: #0B0B0B;
  --text-color-secondary: #0C0C0C;
}

/* General styling  */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
  /* background-color: aquamarine; */
}


body{
  font-family: var(--font-primary);
}
img{
  width: 100%;
  height: auto;
}
.my-3{
  margin: 20px 0 ;
}
.header__wrapper{
  background: linear-gradient( rgba(248, 248, 248, 0.9), rgba(247, 247, 247, 0.9)), url('./Utilities/images/bg.jpg');
  background-size: cover;
  background-position: center center;
}
/* Navbar section  */
.navbar__wrapper{
  width: 100%;
  background-color: transparent;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .logo__wrap{
  width: 200px;
  height: auto;
  object-fit: cover;
}
.nav__items{
  list-style: none;
  display: flex;
  align-items: center;
  padding-inline-start: 0;
}
.nav__items .nav__link{
  margin-left: 30px;
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 1.2;
  font-weight: 500;
  color: var(--text-color-primary);
  transition: .2s;
}
.nav__items .nav__link:hover{
  color: #2f83f1;
}
.btn{
  color: white !important;
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 8px lightgray;
  transition: all .2s;
}
.nav__link.btn-fill{
  background-color: #3F90FC;
  font-size: 14px;
  font-weight: 400;
}
.nav__link.btn-fill-login{
  margin-left: 15px;
  background-color: #434141;
  font-size: 14px;
  font-weight: 400;
}
.nav__link.btn-fill:hover{
  background-color: #2f83f1;
  color: rgb(231, 231, 231);
}
.nav__link.btn-fill-login:hover{
  background-color: #5a5a5a;
  color: rgb(231, 231, 231);
}
 
.toggle__btn{
  font-size: 30px;
  padding: 5px 5px;
  display: none;
}

/* Hero section  */
.hero__wrapper{
  width: 100%;
  padding: 80px 0 200px;
  margin-bottom: -170px;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__wrapper .hero__title{
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-secondary);
  line-height: 1.5;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.input__group{
  display: flex;
}
.input__text, .search__btn{
  border: 0;
  outline: 0;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgb(235, 235, 235);
}
.input__text{
  padding-right: 100px;
  border-radius: 5px 0 0 5px;
}
.search__btn{
  border-radius: 0 5px 5px 0;
  background-color: #3F90FC;
  cursor: pointer;
  color: white;
  transition: .2s;
}
.search__btn:hover{
  background-color: #2f83f1;
  color: rgb(231, 231, 231);
}
.input__text::placeholder{
  color: #a8a8a8;
}




/* EventCards section  */
.events__wrapper{
  padding: 50px 0 200px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card{
  background-color: #FFBD3E;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}
.card:hover{
  box-shadow: 0 0 15px rgb(219, 219, 219);
}
.card img{
  border-radius: 10px 10px 0 0;
}
.card .cart__content{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.cart__content h2{
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 500;
  color: white;
}


/* Footer section  */
.footer__wrapper{
  background-color: rgb(235, 235, 235);
}
.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.footer__content p{
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-primary);
}
.footer__content .menu__items{
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
}
.menu__items .menu__link a{
  color: var(--text-color-secondary);
  font-size: 10px;
  margin-left: 20px;
  font-weight: 300;
  color: var(--text-color-secondary);
  font-family: var(--font-primary);
}
.menu__items .menu__link a:hover{
  text-decoration: underline;
}



/* Login component  */
.login__wrapper{
  height: 100vh;
}
.login__wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px;
}
.logo__top{
  width: 200px;
  object-fit: cover;
}
.login__content{
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 120px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__content h2{
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color-primary);
  margin-bottom: 30px;
}
.login__content p{
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}
.login__content .login__span{
  color: #2f83f1;
  text-decoration: underline;
  cursor: pointer;
}
.g__signin{
  width: 100%;
}
.google__login__btn{
  width: 100%;
  border: .5px solid rgb(204, 204, 204);
  background-color: white;
  outline: 0;
  border-radius: 20px;
  padding: 10px;
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0 0 5px rgb(236, 236, 236);
  cursor: pointer;
}
.fa-google{
  color: orange;
  font-size: 22px;
  float: left;
}



/* Register component  */
.register__wrapper{
  width: 100%;
  height: 100vh;
}
.regis__wrap{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0;
}
.regis__content{
  margin-top: 30px;
  border: .5px solid rgb(201, 201, 201);
  border-radius: 4px;
  background-color: white;
  padding: 30px 50px;
}
.regis__content h2{
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color-primary);
  margin-bottom: 50px;
}
.regis__form{
  display: flex;
  flex-direction: column;
}
.regis__form input{
  margin-bottom: 40px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 5px 5px;
}
.regis__form input::placeholder{
  color: #999999;
}
.regi__btn{
  background-color: #2f83f1;
  color: white;
  font-family: var(--font-primary);
  font-weight: 300;
  padding: 10px 0 !important;
  cursor: pointer;
  transition: .3s;
}
.regi__btn:hover{
  background-color: #3F90FC;
  color: #ebebeb;
}


/* Dashboard  */
.dashboard__title__nav{
  display: flex;
  padding: 10px 50px;
  align-items: center;
  background-color: white;
}
.dashboard__title__nav .logo__wrap{
  width: 180px;
  height: auto;
  object-fit: cover;
  margin-right: 200px;
}
.dashboard__title__nav h2{
  color: #222222;
  font-size: 16px;
  font-weight: 500;
}

.dashboard__row{
  width: 100%;
  display: flex;
}
.dash__left{
  overflow: hidden;
  height: 100vh;
  width: 25%;
}
.dash__nav{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 50px;
}
.dash__nav .dash__link{
  margin-top: 25px;
  color: var(--text-color-secondary);
  font-weight: 400;
}
.dash__nav .dash__link:hover,
.dash__nav .dash__link.active{
  color: #2f83f1;
}
.fa-user-group, .fa-plus, .fa-grid-horizontal{
  font-size: 16px;
}

.dash__right{
  width: 75%;
  background-color: #f7f7f7;
  border-radius: 5px 0 0 0;
  padding: 20px 30px;
}
.table{
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border-spacing: 2px;
}
.fa-trash-can{
  background-color: #FF444A;
  color: white;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
td, th{
  padding: 10px 10px;
}
thead{
  background-color: #f7f7f7;
  border-radius: 10px;
}
/* tr:nth-child(even) {
  background-color: #f5f5f5;
} */





/* Add event  */

.form__fields{
  width: 100%;
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
}
.event__details label{
  display: block;
}
.form__fields{
  display: flex;
  justify-content: space-around;
  font-family: var(--font-primary);
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}
.form__left{
  width: 50%;
  padding-right: 30px;
}
input[type=text], input[ type=date], textarea{
  width: 100%;
}
.add__event label{
  margin-bottom: 8px;
}
.add__event input{
  margin-bottom: 10px;
}
.add__event__submit{
  float: right;
  border: 0;
  outline: 0;
  background-color: #2f83f1;
  padding: 8px 25px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


















/* Responsive codes  */
@media screen and (max-width: 768px) {
  /* EventCarts section  */
  .events__wrapper .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}